<% footer_presenter = FooterPresenter.new(@cookies) %>

<footer class="footer py-10">
  <div class="container">
    <div class="mb-10">
      <div class="row g-5 g-lg-10">
        <div class="col col-12 col-lg-7">
          <div class="bg-secondary min-h-100 rounded-l p-5 p-lg-10">
            <h2 class="display-5 fw-bold mb-5">Zůstaňte v kontaktu</h2>
            <p class="fs-2 mb-4">
              Každých pár týdnů posíláme newsletter se shrnutím naší práce a&nbsp;zajímavostmi ze zákulisí.
            </p>
            <form class="subscribe-to-newsletter-form" action="https://demagog.us4.list-manage.com/subscribe/post" method="POST">
              <div class="d-flex flex-wrap flex-lg-nowrap">
                <div class="w-100 me-4">
                  <input type="hidden" name="u" value="55104956ab8c4db41d4cd7e55">
                  <input type="hidden" name="id" value="f2c56d2e38">
                  <input type="email" class="input" placeholder="Váš e-mail" name="MERGE0" id="MERGE0" autocapitalize="off" autocorrect="off">
                  <div class="small mt-4">
                    Stisknutím „začít odebírat‟ souhlasíte se zpracováním e&#8209;mailu dle <br><a class="text-dark" href="/stranka/zasady-zpracovani-osobnich-udaju">Zásad zpracování osobních údajů</a>.
                  </div>
                </div>
                <div class="min-w-150px mt-5 mt-lg-0">
                  <button type="submit" class="btn w-100 h-44px">Začít odebírat</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col col-12 col-lg-5">
          <div class="bg-primary min-h-100 rounded-l p-5 p-lg-10">
            <h2 class="display-5 fw-bold mb-5 text-white">Sociální sítě</h2>
            <p class="fs-2">
              Nenechte si ujít nejnovější události z&nbsp;Demagog.cz. Sdílením našich příspěvků přátelům podpoříte naši práci.
            </p>
            <div class="d-flex flex-wrap mt-4">
              <a class="btn white me-2 mb-2 ps-2" href="https://www.facebook.com/Demagog.CZ">
                <span class="w-30px h-30px me-2">
                  <svg width="100%" height="100%" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <g transform="matrix(1,0,0,1,-0.106344,-0.009432)">
                        <path d="M27.685,14.009C27.685,6.541 21.575,0.431 14.106,0.431C6.638,0.431 0.528,6.541 0.528,14.009C0.528,20.799 5.45,26.4 11.9,27.418L11.9,17.913L8.505,17.913L8.505,14.009L11.9,14.009L11.9,10.954C11.9,7.56 13.937,5.692 16.992,5.692C18.519,5.692 20.047,6.032 20.047,6.032L20.047,9.427L18.35,9.427C16.652,9.427 16.143,10.445 16.143,11.463L16.143,14.009L19.877,14.009L19.198,17.913L15.973,17.913L15.973,27.588C22.763,26.57 27.685,20.799 27.685,14.009Z" style="fill:rgb(17,24,39);fill-rule:nonzero;"/>
                    </g>
                  </svg>
                </span>
                <span class="fw-bolder">Facebook</span>
              </a>
              <a class="btn white ps-2 me-2 mb-2 ps-2" href="https://www.instagram.com/demagog.cz/">
                <span class="w-30px h-30px me-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="100%" height="100%"><path d="M 15 2 C 7.832 2 2 7.832 2 15 C 2 22.168 7.832 28 15 28 C 22.168 28 28 22.168 28 15 C 28 7.832 22.168 2 15 2 z M 11.666016 6 L 18.332031 6 C 21.457031 6 24 8.5420156 24 11.666016 L 24 18.332031 C 24 21.457031 21.457984 24 18.333984 24 L 11.667969 24 C 8.5429688 24 6 21.457984 6 18.333984 L 6 11.667969 C 6 8.5429688 8.5420156 6 11.666016 6 z M 11.666016 8 C 9.6450156 8 8 9.6459688 8 11.667969 L 8 18.333984 C 8 20.354984 9.6459688 22 11.667969 22 L 18.333984 22 C 20.354984 22 22 20.354031 22 18.332031 L 22 11.666016 C 22 9.6450156 20.354031 8 18.332031 8 L 11.666016 8 z M 19.667969 9.6660156 C 20.035969 9.6660156 20.333984 9.9640312 20.333984 10.332031 C 20.333984 10.700031 20.035969 11 19.667969 11 C 19.299969 11 19 10.700031 19 10.332031 C 19 9.9640312 19.299969 9.6660156 19.667969 9.6660156 z M 15 10 C 17.757 10 20 12.243 20 15 C 20 17.757 17.757 20 15 20 C 12.243 20 10 17.757 10 15 C 10 12.243 12.243 10 15 10 z M 15 12 A 3 3 0 0 0 15 18 A 3 3 0 0 0 15 12 z"/></svg>
                </span>
                <span class="fw-bolder">Instagram</span>
              </a>
              <a class="btn white ps-2 mb-2" href="https://twitter.com/DemagogCZ">
                <span class="w-30px h-30px me-2">
                  <svg width="100%" height="100%" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <g transform="matrix(1,0,0,1,0.58935,0.158668)">
                        <path d="M0,13.841C0,6.435 6.004,0.431 13.411,0.431C20.817,0.431 26.821,6.435 26.821,13.841C26.821,21.248 20.817,27.252 13.411,27.252C6.004,27.252 0,21.248 0,13.841ZM18.523,10.07C19.11,9.986 19.613,9.902 20.116,9.65C19.781,10.237 19.278,10.74 18.691,11.075C18.859,15.015 16.009,19.289 10.896,19.289C9.387,19.289 7.963,18.787 6.705,18.032C8.13,18.2 9.639,17.781 10.645,17.026C9.387,17.026 8.382,16.188 8.046,15.099C8.465,15.182 8.885,15.099 9.304,15.015C8.046,14.68 7.124,13.506 7.124,12.249C7.543,12.416 7.963,12.584 8.382,12.584C7.208,11.746 6.789,10.153 7.543,8.896C8.968,10.573 10.98,11.662 13.243,11.746C12.824,10.07 14.165,8.393 15.925,8.393C16.68,8.393 17.434,8.729 17.937,9.231C18.607,9.064 19.194,8.896 19.697,8.561C19.529,9.231 19.11,9.734 18.523,10.07Z" style="fill:rgb(17,24,39);"/>
                    </g>
                  </svg>
                </span>
                <span class="fw-bolder">Twitter</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-dark text-white p-5 p-lg-10 rounded-l my-5">
      <div class="row g-5">
        <div class="col col-12 col-md-6 col-lg-4">
          <h4 class="fs-5 mb-4">Demagog.cz, z.s.</h4>
          <p class="small mb-4">IČO: 05140544 <br>se sídlem Roháčova 145/14<br>Žižkov, 130 00 Praha 3</p>
          <p class="small mb-4">Zapsaný ve spolkovém rejstříku u Městského soudu v Praze.</p>
          <p class="small mb-4">Demagog.cz má <a class="text-white" href="https://www.rb.cz/povinne-zverejnovane-informace/transparentni-ucty?mvcPath=transactions&accountNumber=9711283001&path=transactions">transparentní bankovní účet 9711283001/5500</a> vedený u Raiffeisenbank, a.s.</p>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <h4 class="fs-5 mb-4">Kontakty</h4>
          <div class="mb-4">
            <h6 class="small">Kontaktní osoba</h6>
            <p class="small">Petr Gongala | koordinátor projektu</p>
            <p class="small">
              <a class="text-white" href="mailto:petr.gongala@demagog.cz">petr.gongala@demagog.cz</a>
            </p>
            <p class="small">+420 775 275 177</p>
          </div>
          <div class="mb-4">
            <h6 class="small">Výtky k hodnocením, workshopy, různé</h6>
            <p class="small">
              <a class="text-white" href="mailto:info@demagog.cz">info@demagog.cz</a>
            </p>
          </div>
          <div class="">
            <h6 class="small">Pro média</h6>
            <p class="small">
              <a class="text-white" href="https://onedrive.live.com/?authkey=%21APcY4m0I%5F%2DYrtMo&id=A3F546CED092EB9D%2191240&cid=A3F546CED092EB9D">Loga ke stažení</a>
            </p>
          </div>

        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <div class="d-flex">
            <div class="mw-100px w-100 me-5 mb-5">
              <a href="https://ifcncodeofprinciples.poynter.org/profile/demagogcz" target="_blank">
                <img class="mw-100 w-100" src="https://cdn.ifcncodeofprinciples.poynter.org/storage/badges/36C9D629-AED1-C760-8B88-9FD45DD9156F.png" alt="Demagog.cz is IFCN signatory"  />
              </a>
            </div>
            <div>
              <h6 class="small">Demagog.cz ctí kodex zásad Mezinárodní fact-checkingové organizace (IFCN)</h6>
            </div>
          </div>
          <div class="d-flex">
            <div class="mw-100px w-100 me-5">
              <a href="https://fb.me/Third-Party-Fact-Checking" target="_blank">
                <img class="mw-100 w-100" loading="lazy" src="<%= asset_path("partners/Digital_Badge_Fact-Checkers_FOR_DARK_BACKGROUND.png") %>" alt="Badge of independent third-party facth-checking partner of Facebook" />
              </a>
            </div>
            <div>
              <h6 class="small">Demagog.cz ověřuje pravdivost vybraného obsahu pro společnost Meta</h6>
            </div>
          </div>

        </div>
        <div class="col col-12 col-md-6 col-lg-12">
          <div class="row g-5">
            <div class="col col-12 col-lg-4">
              <h4 class="small mb-2">Projekt Demagog.cz podporují:</h4>
              <div class="d-flex flex-wrap align-items-center">
                <a class="me-4 mb-4" title="Nadační fond nezávislé žurnalistiky" href="https://www.nfnz.cz/">
                  <img loading="lazy" class="h-50px" src="<%= asset_path("partners/nfnz_light.svg") %>" />
                </a>
                <a class="me-4 mb-4" title="Národní plán obnovy" href="https://www.planobnovycr.cz/">
                  <img loading="lazy" class="h-50px" src="<%= asset_path("npo.svg") %>" />
                </a>
                <a class="me-4" title="Next Generation EU" href="https://next-generation-eu.europa.eu/index_cs">
                  <img loading="lazy" class="h-50px" src="<%= asset_path("eu.svg") %>" />
                </a>
              </div>
            </div>
            <div class="col col-12 col-lg-4">
              <h6 class="small mb-2">Projekt Demagog.cz spolupracuje s:</h6>
              <div class="d-flex align-items-center">
                <a class="me-4" title="Little Greta" href="http://littlegreta.co.uk/">
                  <img loading="lazy" class="h-50px" src="<%= asset_path('partners/little_greta_white.svg') %>" />
                </a>
                <a title="Newton Media" href="https://www.newtonmedia.cz/cs">
                  <img loading="lazy" class="h-50px" src="<%= asset_path("partners/newton_media_light.svg") %>" />
                </a>
              </div>
            </div>
            <div class="col col-12 col-lg-4">
              <div class="mt-4">
                <a class="me-4" title="CEDMO" href="https://cedmohub.eu/cs/">
                  <img loading="lazy" class="mh-80px" src="<%= asset_path("cedmo.jpg") %>" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between" data-controller="components--footer">
      <div class="small">
        <a class="text-dark" href="/stranka/zasady-zpracovani-osobnich-udaju">Zásady zpracování osobních údajů</a>
      </div>
      <% if footer_presenter.show_cookies_config %>
      <div class="small">
        <% if footer_presenter.analytics_cookies == 'accept' %>
          <span>Souhlas použitím cookies pro měření návštěvnosti udělen.</span>
          <a class="text-dark text-underline link" data-action="click->components--footer#reject">Změnit na nesouhlas</a>
        <% end %>
        <% if footer_presenter.analytics_cookies == 'reject' %>
          <span>Souhlas s použitím cookies pro měření návštěvnosti neudělen.</span>
          <a class="text-dark text-underline link" data-action="click->components--footer#accept">Udělit souhlas</a>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>
</footer>
