<span
  class="lh-1 <%= labelClass %> <%= 'text-primary' if labelValue == "true" %><%= 'text-secondary' if labelValue == "misleading" %><%= 'text-red' if labelValue == "untrue" %><%= 'text-gray' if labelValue == "unverifiable" %>"
>
  <%= labelContent %>
</span>
