<% show_speaker_role = true if local_assigns[:show_speaker_role].nil? %>
<% show_medium_and_date = true if local_assigns[:show_medium_and_date].nil? %>
<% wide_display = true if local_assigns[:wide_display].nil? %>

<div
  class="row g-5 g-lg-10"
  data-controller="components--filter"
  data-components--filter-open-cols="col col-12 col-lg-8"
  data-components--filter-close-cols="col col-12"
  data-components--filter-open-rows="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-10"
  data-components--filter-close-rows="row row-cols-1 row-cols-md-2 row-cols-lg-6 g-10"
  data-components--filter-open-label="Skrýt filtry"
  data-components--filter-close-label="Zobrazit filtry"
  data-components--filter-close-empty="true"
>
  <div class="col col-12">
    <h2 class="fs-2 text-bold">Výroky</h2>
  </div>
  <div class="col col-12 col-lg-4">
    <a class="btn w-100" data-action="click->components--filter#toggle" aria-show="true">
      <span class="text-white" data-target="components--filter.label">Skrýt filtry</span>
    </a>
  </div>
  <div class="col col-12 col-lg-8"></div>
  <div class="col col-12 col-lg-4" data-target="components--filter.filter">
    <div class="bg-light rounded-l p-5">
      <% if source_speakers.size > 1 %>
      <div class="filter w-100 mb-5">
        <div
          class="filter-link d-flex align-items-center justify-content-between w-100 min-h-40px"
          data-action="click->components--filter#toggleLink"
          data-target="components--filter.filterLink"
          aria-show="true"
        >
          <span class="fs-6 fw-600">Řečníci</span>
          <span class="filter-icon">
            <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 0.597656L11.646 11.2437L22.2435 0.646237" stroke="#111827"/>
            </svg>
          </span>
        </div>
        <div class="filter-content">
          <% source_speakers.each do |source_speaker| %>
          <div class="check-btn py-2">
            <input
              type="checkbox"
              data-target="components--filter.filterCheckbox"
              data-action="change->components--filter#toggleFilter"
              data-filter-value="<%= "#{source_speaker.speaker.id.to_s}" %>"
              data-filter-type="recnici"
            >
            <span class="checkmark"></span>
            <span class="small fw-600 me-2"><%= source_speaker.full_name %></span>
            <% if source_speaker.body %>
              <span class="smallest min-w-40px"><%= source_speaker.body.short_name %></span>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="separator bg-dark mb-5"></div>
      <% end %>

      <% if tags_with_counts.size > 0 %>
        <div class="filter w-100 mb-5">
          <div
            class="filter-link d-flex align-items-center justify-content-between w-100 min-h-40px"
            data-action="click->components--filter#toggleLink"
            data-target="components--filter.filterLink"
            aria-show="true"
          >
            <span class="fs-6 fw-600">Témata</span>
            <span class="filter-icon">
              <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 0.597656L11.646 11.2437L22.2435 0.646237" stroke="#111827"/>
              </svg>
            </span>
          </div>
          <div class="filter-content">
            <% tags_with_counts.each do |tag_with_count| %>
            <div class="check-btn py-2">
              <input
                type="checkbox"
                data-target="components--filter.filterCheckbox"
                data-action="change->components--filter#toggleFilter"
                data-filter-value="<%= "#{tag_with_count.tag.id}" %>"
                data-filter-type="temata"

              >
              <span class="checkmark"></span>
              <span class="small fw-600 me-2"><%= tag_with_count.tag.name %></span>
              <span class="smallest min-w-40px"><%= tag_with_count.count %> <%= cs_pluralize(tag_with_count.count, "výrok", "výroky", "výroků") %></span>
            </div>
            <% end %>
          </div>
        </div>
        <div class="separator bg-dark mb-5"></div>
      <% end %>

      <% if veracities_with_counts.size > 0 %>
        <div class="filter w-100 mb-5">
          <div
            class="filter-link d-flex align-items-center justify-content-between w-100 min-h-40px"
            data-action="click->components--filter#toggleLink"
            data-target="components--filter.filterLink"
            aria-show="true"
          >
            <span class="fs-6 fw-600">Hodnocení</span>
            <span class="filter-icon">
              <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 0.597656L11.646 11.2437L22.2435 0.646237" stroke="#111827"/>
              </svg>
            </span>
          </div>
          <div class="filter-content">
            <% veracities_with_counts.each do |veracity_with_count| %>
            <div class="check-btn py-2 <% if veracity_with_count.count == 0 %>disabled<% end %>">
              <input
                type="checkbox"
                data-target="components--filter.filterCheckbox"
                data-action="change->components--filter#toggleFilter"
                data-filter-value="<%= veracity_with_count.veracity_key.to_sym %>"
                data-filter-type="hodnoceni"

              >
              <span class="checkmark"></span>
              <span class="small fw-600 me-2"><%= veracity_with_count.veracity_name %></span>
              <span class="smallest min-w-40px"><%= veracity_with_count.count %> <%= cs_pluralize(veracity_with_count.count, "výrok", "výroky", "výroků") %></span>
            </div>
            <% end %>
          </div>
        </div>
        <div class="separator bg-dark mb-5"></div>

      <% end %>

      <div class="w-100 py-2">
        <a class="btn w-100" data-action="click->components--filter#clearFilter">
          <span class="text-white">Zrušit filtry</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col col-12 col-lg-8" data-target="components--filter.content">
    <% statements.each do |statement| %>
    <div
      class="d-block"
      data-target="components--overview.item components--filter.filterItem"
      data-filter-value="<%= statement.approved_assessment.veracity_new %>,<%= statement.speaker.id.to_s %>,<% statement.tags.each do |tag|%><%= tag.id %>,<% end %>"
    >
      <%=
        render(
          partial: "statement/detail",
          object: statement,
          as: :statement,
          locals: { show_speaker_role: show_speaker_role, show_medium_and_date: show_medium_and_date, wide_display: wide_display }
        )
      %>
    </div>
    <% end %>
  </div>
</div>
