<% set_meta_tags noindex: true, nofollow: true %>

<div class="container-statement-show_preview">
  <img src="<%= asset_path("demagog-neg-logo.svg") %>" alt="Logo Demagog.cz" class="demagog-logo">

  <div class="statement-content">
    <div class="statement-content-inner" style="font-size: <%= @font_size %>px">
      „<%= content_to_html(@statement.content) %>“
    </div>
  </div>

  <div class="speaker-portrait-wrapper">
    <%= render(partial: 'shared/portrait', object: @statement.speaker, as: :speaker) %>
  </div>

  <div class="veracity-badge">
    <% if @statement.approved_assessment.veracity.key == Veracity::TRUE %>
      <img src="<%= asset_path("true-badge.png") %>" alt="Pravda">
    <% end %>
    <% if @statement.approved_assessment.veracity.key == Veracity::UNTRUE %>
      <img src="<%= asset_path("untrue-badge.png") %>" alt="Nepravda">
    <% end %>
    <% if @statement.approved_assessment.veracity.key == Veracity::MISLEADING %>
      <img src="<%= asset_path("misleading-badge.png") %>" alt="Zavádějící">
    <% end %>
    <% if @statement.approved_assessment.veracity.key == Veracity::UNVERIFIABLE %>
      <img src="<%= asset_path("unverifiable-badge.png") %>" alt="Neověřitelné">
    <% end %>
  </div>
</div>

