<figure class="speaker">
  <a href="<%= speaker_path(speaker) %>">
    <div class="photo-wrapper">
      <% if speaker.avatar.attached? %>
        <%= image_tag(speaker.avatar, alt: speaker.full_name) %>
      <% else %>
        <%= image_tag("default-speaker.png", alt: speaker.full_name) %>
      <% end %>
    </div>
    <p class="name"><%= speaker.full_name %></p>
    <p><%= speaker.published_statements.size %> výroků</p>
  </a>
</figure>
