<article class="speakers-list">
  <% if @party  %>
    <h2><%= @party.name %></h2>

    <% @party.current_members.each do |speaker| %>
      <%= render(partial: 'speaker/listed', object: speaker, as: :speaker) %>
    <% end %>    
  <% else %>
    <h2>Politici s nejvíce výroky</h2>
    <p>Vybráni jsou nejaktivnější politici za posledních šest měsíců.</p>

    <% @speakers.each do |speaker| %>
      <article class="speaker">
        <a href="<%= speaker_path(speaker) %>">
          <%= render(partial: 'shared/portrait', object: speaker, as: :speaker) %>
          <p class="name"><%= speaker.full_name %></p>
          <p>
            <%= speaker.published_statements.where("excerpted_at >= ?", 6.months.ago).count %> výroků
            (<%= speaker.published_statements.count %>&nbsp;výroků&nbsp;celkem)
          </p>
        </a>
      </article>
    <% end %>
  <% end %>
</article>

<aside class="meta">
  <%= render(partial: "speaker/sidebar") %>
</aside>
