<% content_for(:title, @tag.title) %>

<div class="row g-5 g-lg-10 flex-lg-row-reverse" data-controller="components--modal">
  <div class="col col-12">
    <%= render partial: "components/tags", locals: { active: false } %>
  </div>
  <% if @page_number.blank? %>
  <div class="col col-12 col-lg-4">
    <div
      class="bg-dark-light text-white p-5 p-lg-8 rounded-l mb-10"
      data-controller="components--mobile-expander"
      data-action="resize@window->components--mobile-expander#layout"
      data-components--mobile-expander-breakpoint="992"
      data-components--mobile-expander-min-height="100px"
      data-components--mobile-expander-open-label="Skrýt obsah"
      data-components--mobile-expander-close-label="Zobrazit více"

    >
      <div class="expander expander-dark-light" data-target="components--mobile-expander.expander">
        <div class="w-100 position-relative">
          <h2 class="display-5 fw-bold mb-4"><%= @tag.title %></h2>
          <div class="fs-6 mb-10 dark-content">
            <%= @tag.description %>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <a
          href="#"
          class="text-white text-underline mt-3"
          data-target="components--mobile-expander.link"
          data-action="click->components--mobile-expander#toggle"
        >
          <span class="py-2 fs-5" data-target="components--mobile-expander.label">Zobrazit více</span>
        </a>
      </div>
    </div>
  </div>
  <% end %>
  <% if @page_number.blank? %>
  <div class="col col-12 col-lg-8 mb-0 mb-lg-10">
    <div class="row row-cols-1 g-5 g-lg-10">
      <% @top_articles.each do |article| %>
        <%= render partial: "components/article_main", object: article, as: :article, locals: { show_portraits: false, smaller_gaps: true } %>
      <% end %>
    </div>
  </div>
  <div class="col col-12">
    <div class="row row-cols-1 row-cols-lg-2 g-5 g-lg-10">
      <% @bottom_articles.each do |article| %>
        <%= render partial: "components/article_main", object: article, as: :article, locals: { show_portraits: false, smaller_gaps: true } %>
      <% end %>
    </div>
  </div>
  <% end %>
  <% if @page_number %>
    <div class="col col-12">
      <div class="row row-cols-1 row-cols-lg-2 g-10">
        <% @articles.each do |article| %>
        <%= render partial: "components/article_main", object: article, as: :article, locals: { show_portraits: false, smaller_gaps: true } %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="col col-12">
    <div class="mb-10">
      <% if path_to_prev_page @articles %>
        <a href="<%= path_to_prev_page  @articles %>" class="btn h-50px fs-6 me-2 mb-2 px-8">
          <span>Zobrazit předchozí</span>
        </a>
      <% end %>
      <% if path_to_next_page @articles %>
        <a href="<%= path_to_next_page  @articles %>" class="btn h-50px fs-6 me-2 mb-2 px-8">
          <span>Zobrazit další</span>
        </a>
      <% end %>
    </div>
  </div>
</div>
