<%

@nav= [
  Struct::NavLink.new('O Demagog.cz', 'demagog'),
  Struct::NavLink.new('Jak hodnotíme', 'jak-hodnotime'),
  Struct::NavLink.new('Výtky k hodnocení', 'vytky-k-hodnoceni'),
  Struct::NavLink.new('Naše financování', 'nase-financovani'),
  Struct::NavLink.new('Etický kodex', '/spoluprace-s-facebookem'),
  Struct::NavLink.new('FAQ- Často kladené otázky', 'faq'),
  Struct::NavLink.new('Ostatní', 'ostatni'),
  Struct::NavLink.new('Kontakty', 'kontakty'),
]


%>

<div class="row g-5 g-lg-10" data-controller="components--sticky" data-action="scroll@window->components--sticky#onScroll" data-components--mobile-expander-breakpoint="992">
  <div class="col col-12">
    <div class="">
      <h1 class="display-4 fw-bold m-0 p-0">O nás</h1>
    </div>
  </div>
  <div class="col col-12 col-lg-4 position-relative">
    <nav class="side-nav" data-target="components--sticky.sticky">
      <ul class="list">
        <% @nav.each_with_index do |nav_item, index| %>
        <li class="">
          <a
            href="#<%= nav_item.href %>"
            class="min-h-30px d-inline-flex fs-5 fw-bold text-dark align-items-center text-none state-line mb-2"
          >
            <span class="me-2"><%= index + 1 %>.</span>
            <span><%= nav_item.text %></span>
          </a>
        </li>
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="col col-12 col-lg-8">
    <div class="row g-5 g-lg-10">
      <% @nav.each_with_index do |nav_item, index| %>
      <div class="col col-12" id="<%= nav_item.href %>">
        <h2 class="display-5 fw-bold m-0 p-0">
          <span class="me-2"><%= index + 1 %>.</span>
          <span><%= nav_item.text %></span>
        </h2>
        <% if nav_item.href == "kontakty"%>
          <div class="py-5">
            <div class="">
              <h3 class="fs-3">Kontaktní osoba</h3>
              <p class="fs-5">mail: <a href="mailto:petr.gongala@demagog.cz">petr.gongala@demagog.cz</a></p>
              <p class="fs-5">mob.: +420 775 275 177</p>
            </div>
            <div class="mt-5">
              <h3 class="fs-3">Výtky k hodnocením, workshopy, různé</h3>
              <p class="fs-5">mail: <a href="mailto:info@demagog.cz">info@demagog.cz</a></p>
            </div>
            <div class="mt-5">
              <h3 class="fs-3">Pro média</h3>
              <p class="fs-5"><a href="https://demagogcz-uloziste.fra1.digitaloceanspaces.com/Demagog.cz%20logo.zip">Loga ke stažení</a></p>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
