<% article_presenter = ArticlePresenter.new(article) %>

<article class="preview s-article<% if local_assigns[:smaller_gaps] == true %> smaller-gaps<% end %>">
  <a title="<%= article.title %>" href="<%= article_path(article) %>" class="illustration">
    <% if article.illustration.attached? %>
      <img loading="lazy" src="<%= url_for(article.illustration) %>" alt="Ilustrační obrázek k výstupu <%= article.title %>">
    <% else %>
      <img src="<%= asset_path("article-illustration-default-preview.svg") %>" alt="Ilustrační obrázek k výstupu <%= article.title %>">
    <% end %>
    <% if article_presenter.show_factcheck_video %>
      <div class="factcheck-video-label">
        <img src="<%= asset_path("play-icon.svg") %>" class="factcheck-video-label-play-icon" alt="Spustit <%= article_presenter.factcheck_video_record_name %>">
        <span class="factcheck-video-label-text"><%= article_presenter.factcheck_video_record_name.capitalize %> propojený s ověřením</span>
      </div>
    <% end %>
  </a>

  <div class="rest">
    <% unless local_assigns[:show_portraits] == false %>
      <div class="speakers">
        <% if article.article_type.name == ArticleType::DEFAULT %>
          <% for source_speaker in article_presenter.factcheck_source_speakers %>
            <%= render(partial: 'shared/portrait', object: source_speaker, as: :speaker) %>
          <% end %>
        <% end %>
        <% if article.article_type.name == ArticleType::SINGLE_STATEMENT %>
          <%= render(partial: 'shared/portrait', object: article.single_statement.source_speaker, as: :speaker) %>
        <% end %>
      </div>
    <% end %>

    <h2 class="s-title"><%= link_to(article.title, article_path(article), class: "title") %></h2>

    <p class="clickthrough">
      <% if article.article_type.name == ArticleType::DEFAULT %>
        <span class="label factcheck">Ověřeno</span>
        <% if article.source %>
          <i><%= article.source.medium.name %>, <%= raw(l(article.source.released_at, format: :long)) %></i>
        <% end %>
      <% end %>

      <% if article.article_type.name == ArticleType::STATIC %>
        <span class="label editorial">Komentář</span>
        <i><%= raw(l(article.published_at, format: :long)) %></i>
      <% end %>

      <% if article.article_type.name == ArticleType::SINGLE_STATEMENT %>
        <span class="label veracity <%= article.single_statement.approved_assessment.veracity.default_name %>">
          <%= article.single_statement.approved_assessment.veracity.name %>
        </span>
        <i><%= article.single_statement.source.medium.name %>, <%= raw(l(article.single_statement.source.released_at, format: :long)) %></i>
      <% end %>

      <% if article.article_type.name == ArticleType::FACEBOOK_FACTCHECK %>
        <span class="label facebook-factcheck">Facebook factcheck</span>
        <i><%= raw(l(article.published_at, format: :long)) %></i>
      <% end %>

      <% if article.perex %>
        &mdash;
        <%= strip_tags(article.perex).truncate(230) %>
      <% end %>

      <% if article.article_type.name == ArticleType::SINGLE_STATEMENT %>
        &mdash;
        „<%= article.single_statement.content.strip %>“
      <% end %>

      <% if article.article_type.name == ArticleType::DEFAULT || article.article_type.name == ArticleType::STATIC || article.article_type.name == ArticleType::FACEBOOK_FACTCHECK %>
        <a href="<%= article_path(article) %>">
          <span>Číst&nbsp;dál&nbsp;&rarr;</span>
        </a>
      <% end %>
      <% if article.article_type.name == ArticleType::SINGLE_STATEMENT %>
        <a href="<%= statement_path(article.single_statement) %>">
          <span>Číst&nbsp;odůvodnění&nbsp;&rarr;</span>
        </a>
      <% end %>
    </p>
  </div>
</article>
