<!DOCTYPE html>
<html lang="cs">
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <% if content_for?(:stylesheets) %><%= yield :stylesheets %><% end %>
    <%= render partial: "shared/meta" %>
    <meta name="color-scheme" content="light only">
    <meta name="format-detection" content="telephone=no">

    <%= render(GoogleTagManagerComponent.new(cookies: @cookies)) %>
  </head>

  <body>
    <%= render(GoogleTagManagerComponent.new(cookies: @cookies, iframe: true)) %>
    <%= render "shared/facebook" %>

    <%= render "components/header" %>
    <main class="main" >
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <%= render(FooterComponent.new(cookies: @cookies)) %>
    <%= render "components/cookies" %>

    <%= render(ModalComponent.new(id: 'modalDonate')) do %>
      <%= render(DonationWidgetComponent.new(class: 'w-100 mw-500px bg-light p-5 p-lg-8 rounded shadow', token: '2lxybp84z777gdff')) %>
    <% end %>

    <% unless Rails.env.test? %>
      <%= javascript_pack_tag 'application'  %>
      <%= javascript_pack_tag 'widget'  %>
      <%= render partial: "shared/matomo_analytics" %>
    <% end %>
  </body>
</html>
