<!DOCTYPE html>
<html lang="cs">
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if content_for?(:stylesheets) %><%= yield :stylesheets %><% end %>
    <%= render partial: "shared/meta" %>
  </head>

  <body>
    <%= render partial: "shared/facebook" %>
    <%= render "components/header" %>
    <main class="main" >
      <div class="container">

        <%= yield %>
        <% if false %>
          <% unless content_for?(:hide_layout_donate_and_subscribe) %>
            <%= render partial: "shared/donate_and_subscribe" %>
          <% end %>

        <% end %>

      </div>
    </main>
    <%= render "components/footer" %>
    <%= render "components/cookies" %>

    <% unless Rails.env.test? %>
      <%= javascript_pack_tag 'application'  %>
      <%= javascript_pack_tag 'widget'  %>
      <%= render partial: "shared/google_analytics" %>
      <%= render partial: "shared/plausibleio_analytics" %>

    <% end %>
  </body>
</html>
