<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= render partial: "shared/meta" %>

  <%= stylesheet_link_tag 'campaign', media: 'all' %>
  <meta name="color-scheme" content="light" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
    rel="stylesheet"
    />

  <!-- preload background images -->
  <link rel="preload" as="image" href="<%= image_path('campaign/obrazek-telka-big.jpg') %>" />
  <link rel="preload" as="image" href="<%= image_path('campaign/obrazek-maska-big.jpg') %>" />
  <link
    rel="preload"
    as="image"
    href="<%= image_path('campaign/obrazek-sundana-maska-big.jpg') %>"
    />

  <% unless Rails.env.test? %>
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NDL7SQZ6');
    </script>
    <!-- End Google Tag Manager -->
  <% end %>
</head>
<body>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDL7SQZ6"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <%= yield %>

  <%= javascript_pack_tag 'campaign'  %>
</body>
</html>
