<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= render partial: "shared/meta" %>

  <%= stylesheet_link_tag 'campaign', media: 'all' %>
  <meta name="color-scheme" content="light" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
    rel="stylesheet"
    />

  <!-- preload background images -->
  <link rel="preload" as="image" href="<%= image_path('campaign/obrazek-telka-big.jpg') %>" />
  <link rel="preload" as="image" href="<%= image_path('campaign/obrazek-maska-big.jpg') %>" />
  <link
    rel="preload"
    as="image"
    href="<%= image_path('campaign/obrazek-sundana-maska-big.jpg') %>"
    />

  <%= render(GoogleTagManagerComponent.new(cookies: @cookies)) %>
</head>
<body>
  <%= render(GoogleTagManagerComponent.new(cookies: @cookies, iframe: true)) %>

  <%= yield %>

  <%= javascript_pack_tag 'campaign' %>
</body>
</html>
