<!DOCTYPE html>
<html lang="cs">
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <% if content_for?(:stylesheets) %><%= yield :stylesheets %><% end %>
    <%= render partial: "shared/meta" %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag 'application'  %>
    <%= javascript_pack_tag 'widget'  %>
    <%= render partial: "shared/google_analytics" %>
    <%= render partial: "shared/plausibleio_analytics" %>
    <%= render partial: "shared/matomo_analytics" %>
  </body>
</html>
